
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Open Sans', sans-serif;
	
	
}
.header{
	background: url("../images/red_landscape.jpg") no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size:cover;
	min-height: 550px;
}
.header-top {
	padding-top: 3em;
}
.logo{
	float:left;
	
}
.top-menu{
	float:right;
}
.top-menu ul li{
	display: inline-block;
	padding: 5px 15px 0px 15px;
}
.top-menu ul li a{
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
}
.top-menu ul li a:hover {
	color: #ef664d;
	
	
}
.top-menu ul li a.active {
	color: #ef664d;
	font-weight: 600;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/***** Slider *****/
.banner-wrap {
	padding-top: 30em;
}

/* Default Skin */
.banner_center {
	width: 50%;
	position: absolute;
	top: 40%;
	left: 25%;
	text-align: center;

}
.banner_center h1 {
	color: #eee;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-size: 2.4em;
}

.services-section{
	padding:3em 0;
}
.services-header{
	text-align: center;
	width: 85%;
	margin: 0 auto;

}
.services-header h3
{
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #2a404e;
}
.services-header h3 span {
	color: #F0C514;
}
.services-header p{
	line-height: 1.5em;
	font-size: 15px;
	color: #7e7e7e;
	padding: 25px 0;
}
.services-sectiongrids {
	text-align: center;
}
.services-grid h4 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 15px 0;
	color: #2a404e;
	text-transform: uppercase;
}
.services-grid p {
	font-size: 15px;
	color: #7e7e7e;
	padding: 0 22px;
}
.arrow1 {
	padding-top: 30px;
	text-align: center;

}

.portfolio-section-top-row {
	padding: 1em 0 4em 0;
}
.portfolio-section-top-row-left-grid {
	padding: 0;
}

.address span{
	color: #FFF1CE;
	font-weight: 300;
	font-size: 15px;
	margin: 1em 0;
	display: block;
	text-transform: uppercase;
}
.address{
	border-bottom:1px solid #FFF1CE;
	margin: 15px 0 0 0;
}
.address a{
	color:#fff;
	margin: 0 0 1.5em 3em;
	display: block;
}
.tags span{
	color: #FFF1CE;
	font-weight: 300;
	font-size: 15px;
	margin: 1em 0;
	display: block;
	text-transform: uppercase;
}
.tags p{
	color:#fff;
	font-weight:300;
	font-size:14px;
}




/*	Strip
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/

#portfoliolist .portfolio {
	width: 24%;
	display:none;
	float:left;
	overflow:hidden;
	margin: 0px 1% 2% 0;
}
div#portfoliolist {
	padding: 20px 20px 0 20px;
	background: url("../images/left.png") no-repeat;
	background-size: 100% 100%;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
text-align:right;
  list-style: none;
    margin: 18px 0;
    padding: 0;
}
.resp-tab-item{
      padding: 7px 10px;
    text-decoration: none;
    color: #fff;
     font-size: 1.1em;
    font-weight: 400;
      margin: 0 0.3em;
	cursor: pointer;
	display: inline-block;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform:uppercase;
}
.resp-tab-active,.resp-tab-item:hover{
  text-shadow: none;
  color:#ef664d;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
	
}


.about-section {
	padding:3em 0;
}
.about-header {
	text-align: center;
}
.about-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #2a404e;
}
.about-header h3 span {
	color: #ef664d;;

}
.about-imag {
	float: left;
	width:27%;
	margin-right:5%
}
.about-imag img {
	border: 2px solid #ef664d;
	border-radius: 103px;
}
.about-text {
	float: left;
	width: 65%;
	margin-top:3%; 
}
.about-text p {
	font-size: 15px;
	color: #7e7e7e;
	line-height: 1.5em;
}
.about-sectiongrids{
	padding: 40px 0px;
}
.polls {
	padding: 10px 0;
}
.poll-desc {
	float: left;
}
.poll-desc h4{
	font-size: 17px;
	color: #2a404e;
	font-weight:bold;
	text-transform: uppercase;
}
.percentage {
	float: right;
	margin-right: 26%
}
.percentage p{
	font-size:17px;
	color:#040505;
	font-weight: bold;
}
.skills {
	width: 100%;
	margin: 5px 0;
	height: 14px;
	background:#dedede;
}
.skills > div {
	height: 100%;
	display: block;
	background-color: #ef664d;
}
.footer-section {
	padding: 40px 0px;
	background: #2e3e4e;
}
.contact-header {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.contact-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #ef664d;
}
.contact-header h3 span {
color: #fefefe;
}
.contact-header p {
	line-height: 1.5em;
	font-size: 15px;
	color: #fefefe;
	padding: 25px 0;
}
.social-icon {
text-align: center;
padding:30px 0;
}
.social-icon i{
	width:40px;
	height:40px;
	background: url("../images/img-sprite.png") no-repeat 0px 0px;
	display:inline-block;
}
.social-icon i:hover{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icon a i.icon1{
	background-position:0px 0px;
}
.social-icon a i.icon1:hover{
	background-position:0px -40px;
}
.social-icon a i.icon2{
	background-position:-40px 0px;
}
.social-icon a i.icon2:hover{
	background-position:-40px -40px;
}
.social-icon a i.icon3{
	background-position:-80px 0px;
}
.social-icon a i.icon3:hover{
	background-position:-80px -40px;
}
.social-icon i.icon4{
	background-position:-120px 0px;
}
.social-icon a i.icon4:hover{
	background-position:-120px -40px;
}
.contact {
	padding-bottom:4em;
border-bottom: 1px solid#55626f;
}
.contactgrid {
padding-bottom: 2em;
}

.footer-bottom {
	
	text-align: center;
	padding-top: 40px;
}
.footer-bottom p {
	font-size: 17px;
	color: #d5d6d7;
	font-weight: 400;
}
.footer-bottom a {
	font-size: 19px;
	color: #ef664d;
	font-weight: 400;
	text-transform: capitalize;
}

.footer-bottom p a {
	margin: 0 6px 0 6px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}
    
    